<!DOCTYPE html>
<html>
<head>
	<title>Mail</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="styles/style.css"></style>
	<link rel="shortcut icon" href="images/favicon.ico">
	<script data-main="js/application/bootstrap" src="js/libs/require/require.js"></script>
</head>
<body>
	<header>
		<a id="showboxes"><i class="icon-inbox"></i></a>
		<nav>
			<ul>
				<li class="icon-circle"></li>
				<li class="icon-circle"></li>
				<li class="icon-circle"></li>
			</ul>
		</nav>
		<span class="apptitle">MAIL APPLICATION</span>
		<a id="composeicon"><i class="icon-edit"></i></a>
	</header>
	<div id="container">
		<section id="boxlist">
			<a id="compose"><span>COMPOSE MAIL</span></a>
			<ul id="boxes"></ul>
			<br />
			<ul id="labels">
				<li><form><a><i class="icon-plus"></i><input id="newlabel" type="text" placeholder="Add label" /></form></li>
			</ul>
			<br />
			<ul>
				<li><a href="#"></i>Contacts</a></li>
				<li><a href="#"></i>Attachements</a></li>
			</ul>
		</section>
		<section id="search">
			<div class="search">
				<h1>Inbox</h1> <span>(5 unread)</span>
				<form>
					<input id="search_input" type="text" placeholder="Search inbox.." />
					<i class="icon-remove"></i>
				</form>
			</div>
			<ul>
			</ul>
		</section>
		<section id="conversation">
		</section>
	</div>
</body>
</html>